parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$request \(Payum\\Core\\Request\\Convert\) of method Setono\\SyliusQuickpayPlugin\\Action\\ConvertPaymentAction\:\:execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface\:\:execute\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Action/ConvertPaymentAction.php

		-
			message: '#^Cannot access offset ''base'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Checker/StreetEligibilityChecker.php

		-
			message: '#^Cannot access offset ''extension'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Checker/StreetEligibilityChecker.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Controller/NotifyAction.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Controller/NotifyAction.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Controller\\NotifyAction\:\:__construct\(\) has parameter \$orderRepository with generic interface Sylius\\Component\\Core\\Repository\\OrderRepositoryInterface but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/NotifyAction.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\FactoryBuilder\\QuickpayGatewayFactoryBuilder\:\:build\(\) has parameter \$defaultConfig with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/FactoryBuilder/QuickpayGatewayFactoryBuilder.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getKlarnaTestDataByCountry\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getKlarnaTestDataByCountry\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getOptions\(\) has parameter \$requiredKeys with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getOptions\(\) has parameter \$testData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getOptions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getSupportedCountries\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Parameter \#1 \$countryCode of method Setono\\SyliusQuickpayPlugin\\Fixture\\KlarnaTestShopUserFixture\:\:getKlarnaTestDataByCountry\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Regex pattern is invalid\: No ending delimiter ''@'' found in pattern\: @$#'
			identifier: regexp.pattern
			count: 1
			path: src/Fixture/KlarnaTestShopUserFixture.php

		-
			message: '#^Class Setono\\SyliusQuickpayPlugin\\Form\\Type\\QuickPayGatewayConfigurationType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/Type/QuickPayGatewayConfigurationType.php

		-
			message: '#^Method Setono\\SyliusQuickpayPlugin\\Klarna\\Matcher\\CountryCurrencyMatcher\:\:__construct\(\) has parameter \$map with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Klarna/Matcher/CountryCurrencyMatcher.php

		-
			message: '#^Property Setono\\SyliusQuickpayPlugin\\Klarna\\Matcher\\CountryCurrencyMatcher\:\:\$map type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Klarna/Matcher/CountryCurrencyMatcher.php
