includes:
	- phpstan-baseline.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false

	level: max

	paths:
		- src/

	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#Access to an undefined property Payum\\Core\\Request\\GetHttpRequest::\$headers#'
